<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>リダイレクト先</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1 class="mt-3">リダイレクト先です。</h1>
    <h2>ポストされた内容</h2>

    <#if id_token?has_content>
    <p class="mt-3">
        <strong>id_token</strong><br>
        ${id_token}
    </p>
    </#if>
    <p>
        <strong>state</strong><br>
        ${state}
    </p>
    <p>
        <strong>error</strong><br>
        ${error}
    </p>
    <#if id_token?has_content>
    <h2>id_tokenの内容</h2>
    <p class="mt-3">
        <strong>検証結果</strong><br>
        ${verify}
    </p>
    <p>
        <strong>ユーザID</strong><br>
        ${userId}
    </p>
    <p>
        <strong>Email</strong><br>
        ${email}
    </p>
    </#if>
</div>
</body>
</html>